.liens_gauche .inscription{
  color: white;
  border-bottom: 2px solid white;
  font-size: 1.3em;
  font-weight: bold;
}

.text_inscript_1_step-1 {
  background-color: #063353;
  text-align: center;
  color: white;
  padding: 15px;
}
.text_inscript_1_step-2 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-left: 0px solid black;
  text-align: center;
}
.text_inscript_1_step-3 {
  border: 2px solid black;
  text-align: center;
}
.text_inscript_2_step-1 {
  background-color: #063353;
  text-align: center;
  color: white;
  padding: 15px;
}
.text_inscript_2_step-2 {
  background-color: #063353;
  text-align: center;
  color: white;
  padding: 15px;
}
.text_inscript_2_step-3 {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
}
.text_inscript_3_step-1 {
  background-color: #063353;
  text-align: center;
  color: white;
  padding: 15px;
}
.text_inscript_3_step-2 {
  background-color: #063353;
  text-align: center;
  color: white;
  padding: 15px;
}
.text_inscript_3_step-3 {
  background-color: #063353;
  text-align: center;
  color: white;
  padding: 15px;
}
.group_of_step-inscript_1 {
  margin-left: 0px;
  margin-top: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  border-bottom: 1px solid #a6b5f4;
  border-right: 1px solid #a6b5f4;
  border-left: 1px solid #a6b5f4;
  padding-bottom: 15px;
}
.group_of_step-inscript_2 {
  margin-left: 0px;
  margin-top: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  border-bottom: 1px solid #a6b5f4;
  border-right: 1px solid #a6b5f4;
  border-left: 1px solid #a6b5f4;
  padding-bottom: 25px;
}
.group_of_step-inscript_3 {
  margin-left: 0px;
  margin-top: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  border-bottom: 1px solid #a6b5f4;
  border-right: 1px solid #a6b5f4;
  border-left: 1px solid #a6b5f4;
  padding-bottom: 25px;
}
.firstname,
.lastname,
.king,
.picture,
.nationality,
.placebirth,
.datebirth,
.course_study,
.email,
.contact,
.address {
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.button-next {
  text-align: center;
}
.inscript_1 {
  margin-top: 45px;
  padding-bottom: 15px;
}
.inscript_2 {
  margin-top: 75px;
  padding-bottom: 15px;
}
.inscript_3 {
  margin-top: 55px;
  padding-bottom: 15px;
}
.btn-next {
  background-color: #063353;
}
.next_previous-inscript_2,
.save_previous-inscript_3 {
  text-align: center;
}
.btn {
  background-color: #063353;
}
