.content{
    width: 90%;
    height: 16vh;
    border: 1px black solid;
}

.centre_haut{
    text-align: center;
     margin-left: 0%;
     color: black;
     font-size: larger;
     padding-top: 10px;
     border: 1px black solid;
     height: 10%;
     width: 70%;
     margin-top: 5%;
     margin-left: 13%;
     font-size: 28px;
     text-decoration-line: none;
     background-color: blue;
     border-color: blue;
 
 }
 
 .centre_bas{
 
       text-align: center;
     margin-left: 0%;
     color: black;
     font-size: larger;
     padding-top: 10px;
     border: 1px black solid;
     height: 52%;
     width: 70%;
     margin-left: 13%;
     background-color: ghostwhite;
     border-color: ghostwhite;
 
 }
.Inscription{

    text-align: center;
    margin-left: 0%;
    font-size: larger;
    padding-top: 10px;
    border: 1px black solid;
    height: 15%;
    width: 35%;
    font-size: 18px;
    margin-top: 4%;
    color: blue;
    background-color: skyblue;
    border-color: skyblue;
    

}

.Inscription:hover{
    background-color: white;
    border-color: ghostwhite;
    color: blue;
}

.modifier{
   text-align: center;
    margin-left: 0%;
    /*color: ;*/
    font-size: larger;
    padding-top: 10px;
    border: 1px black solid;
    height: 15%;
    width: 35%;
    margin-top: 7%;
    font-size: 18px;
    color: blue;
    background-color: skyblue;
    border-color: skyblue;

}

.modifier:hover{
    background-color: white;
    border-color: ghostwhite;
    color: blue;
}

.supprimer{
     text-align: center;
    margin-left: 0%;
    color: black;
    font-size: larger;
    padding-top: 10px;
    border: 1px black solid;
    height: 15%;
    width: 35%;
    font-size: 18px;
    margin-top: 7%;
    color: blue;
    background-color: skyblue;
    border-color: skyblue;

}

.supprimer:hover{
    background-color: ghostwhite;
    border-color: ghostwhite;
    color: blue;
}