.liens_gauche .inscription{
    color: white;
    border-bottom: 3px solid white;
    width: 95%;
    font-size: 1.3em;
    font-weight: bold;
}
.center_block{
  font-size: 1.3em;
}

.menu_inscription {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.inscript_student:hover,
.edit_student:hover,
.delete_student:hover {
  background-color: #90bbef;
  color: white;
  padding: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}
.inscript_student,
.edit_student,
.delete_student {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #ecebeb;
  padding: 15px;
  border-radius: 5px;
}
.inscrit {
  margin-top: 125px;
}
