
.li{
    display:inline-block;
    padding-left: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: underline;
    text-align: right;
    margin-right: 25px;
}
.li1:hover{
    color: white;
}

.block_gauche{
    text-align: center;
    background-color: blue;
    color: white;
    width : 150px;
    height: 570px;
    padding-right: 15px; 
    
}
.tt {
    border:1px solid black;
    color: white;
    background-color:white;
    border-radius: 15px; 
    border-color: blue;
    text-align: center;
    border: large;
 }
 .tt2{ 
    text-align: right;
    margin-left: 90px;


 }
 .block_droit_haut{ 
    text-align: left;
    margin-left: 0%;
    color: black;
    font-size: larger;
    padding-top: 10px;
    border: 1px black solid;
    height: 10%;
    
}
.block_droit
{
    border: 1px black solid;
}
.li1 {
    color: black;
    list-style: none;
    margin-right: 15px;
    margin-top: 15px;
    text-decoration: underline;
}

body{
    
    width :1200px;
    margin-left: 15px ;
   
}
.header{
    display: flex;
    color: white;
    background-color: white;
    text-align: right;
    margin-left: 100px; 
    border-radius: 15px;
}
.logo2
{
    padding-top: 120px;  
}

.block{
    display: grid;
    grid-template-columns:1fr 6fr;
}
.centre{
text-align: center;
margin-top: 100px;
}
.id1{
color: white;
background-color: #063353;
padding-left: 5px;
padding-right: 5px;
padding-bottom: 10px;
padding-top: 10px;
font-size: 20px;
}
.id2{
padding-bottom: 10px;
padding-top: 10px;
font-size: 20px;
}
.id3{
color: white;
background-color: #063353; 
padding-left: 29px;
padding-right: 29px;
padding-bottom: 10px;
padding-top: 10px;
font-size: 20px;
}
.id4{
padding-bottom: 10px;
padding-top: 10px;
font-size: 20px;
}
.id5{
color: white;
background-color: #063353; 
padding-left: 14px;
padding-right: 14px;
padding-bottom: 10px;
padding-top: 10px;
font-size: 20px;
}
.id6{
padding-bottom: 10px;
padding-top: 10px;
font-size: 20px;
}
.id7{
padding-bottom: 10px;
padding-top: 10px;
font-size: 20px;
color: white;
background-color: #063353;
padding-left: 10px;
padding-right: 10px;
}
