.block {
  background-color: #0435fc;
}

.menu {
  width: 100%;
  position: relative;
  height: 100%;
}

.user_img {
  text-align: center;
}

.user_img img,
.logo img {
  width: 25%;
}

.user_mail {
  text-align: center;
  color: white;
  font-size: 0.8rem;
}
.liens_gauche {
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.liens_gauche li {
  margin: 1rem 0;
  width: 60%;
  text-align: center;
  border-bottom: 1px solid black;
}
.liens_gauche li:hover {
  color: white;
  border-bottom: 2px solid white;
  font-size: 1.3em;
  font-weight: bold;
}

.logo {
  text-align: center;
  position: absolute;
  bottom: 0;
}

.header_text {
  margin-top: 3%;
  font-size: 1.5em;
  margin-left: 2%;
}

.log_btn button {
  margin-top: 3%;
  font-size: 1em;
  margin-left: 40%;
  text-decoration: none;
  color: black;
  width: 130px;
  height: 40px;
}
.centre_block{
  overflow-y: auto;
}