.aah {
  margin-bottom: 2%;
  margin-top: 40px;
  margin-left: 20px;
}

.table_inf {
  border-collapse: collapse;
  margin-left: 1%;
  margin-right: 5%;
  text-align: left;
  font-size: 16px;
  overflow: scroll;
}

.table_inf tr:nth-child(even) {
  background-color: cyan;
}
.table_inf tr:nth-child(odd) {
  background-color: lightcyan;
}

.table_line_1 {
  overflow: scroll;
}
.all_page {
}

.table_col {
  padding: 2%;
  width: 1%;
}
