.aah{
    margin-bottom: 2%;
    margin-top: 40px;
    margin-left: 20px;
}

.table_inf{
    border-collapse: collapse;
    margin-left: 1%;
    margin-right: 5%;
    text-align: center;
    font-size: 18px;
}

.table_inf tr:nth-child(even){
    background-color: cyan;
}
.table_inf tr:nth-child(odd){
    background-color: lightcyan;
}
.table_inf th{
    padding: 2%;
}

.table_line{
}

.table_col{
    width: 1%;
    font-size: 18px;
}

.entree{
    border: none;
    padding: 2%;
    margin: 4%;
    text-align: center;
    font-size: 18px;
}

.entree1{
    visibility: hidden;
    width: 0;
}

.img_a{
    width: 40px;
}
