body{
  background-color: #d1f1f0;
  display: grid;
  grid-template-columns: repeat(3, 18vw);
  grid-template-rows: repeat(4, 13vh);
}

#block {
  width: 18vw;
  height: 100vh;
  grid-row: 1/5;
  padding: 1rem;
}

#header_block{
  background-color: white;
  width: 81.5vw;
  margin-left: 1%;
  grid-column: 2/4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  grid-template-columns:1fr 1fr;
}

#center_block{
  background-color: white;
  width: 81.5vw;
  height: 84.8vh;
  margin-left: 1%;
  margin-top: 3%;
  grid-column: 2/4;
  grid-row: 2/5;
}